@import'base';

header {
    height: 216px;
}

.top-menu {
    height: 48px;
    border-bottom: 1px solid #FAFAFB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.top-menu .dd:first-child {
    margin-right: 20px;
}

.profile-link,
.cart-link {
    font-size: 14px;
    text-decoration: none;
    color: $primary-color;
    margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
    margin-right: 10px;
}

.cart-controls {
    margin-right: 58px;
}

.cart-link {
    margin-right: 0;
}

.cart-total {
    opacity: .5;
    margin-left: 10px;
    font-size: 14px;
}

.logo-and-nav-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 36px;
}

nav {
    width: 660px;
    justify-content: space-between;
}

.nav-link {
    @extend .font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary-color;

    &.active,
    &:hover {
        color: $active-color;
    }
}

.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);

    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }

    .slide-text {
        margin: 40px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .slide-link {
        text-decoration: none;
        border-bottom: 3px solid white;
        line-height: 22px;
        font-size: 14px;
        color: white;
    }

    .price {
        color: white;
        border-bottom: 2px solid white;
    }
}

.top-gadgets-section {
    margin-top: -55px;

    .container {
        justify-content: center;
    }
} 

.gadget-card {
    width: 390px;
    height: 280px;
    background-color: #f6f7f8;
    color: $primary-color;
    text-decoration: none;
    padding-top: 36px;
    padding-left: 30px;
    position: relative;
    

    &:first-child {
        background-color: #ff6875;
        color: white;

        .card-text {
            width: 220px;
        }

        .card-image {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .price {
            opacity: .75;
        }
    }

    &:last-child {
        background-color: #c1c8ce;

        .card-text {
            width: 160px;
        }

        .card-image {
            position: absolute;
            right: -15px;
            bottom: 15px;
        }

        .price {
            opacity: .75;
        }
    }


    .card-title {
        @extend .font-bold;
        font-size: 24px;
    }

    .card-text {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .price {
        font-size: 24px;
    }
    
    .center-card {
        position: absolute;
        bottom: 0px;
    }

    .card-title-link {
        position: absolute;
        bottom: 30px;
        
        .card-title,
        .card-link {
            display: inline-block;
        }

        .card-title {
            margin-right: 151px;
        }
    }
}

.bestseller-heading {
    @extend .font-semibold;
    font-size: 30px;
}

.menu {
    width: 478px;
    margin-bottom: 26px;

    .nav-menu {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        color: $primary-color;

        &.active{
            color: $active-color;
            border-bottom: 2px solid #33A0FF;
        }

        &:hover {
            color: $active-color;
        }
    }
}

.bestseller {
    height: 728px;
    grid-template-columns: repeat(4, 270px);
    justify-content: space-between;
    align-content: space-between;
}

.card-bestseller {
    width: 270px;
    height: 350px;
    border: 2px solid #F6F7F8;
    padding: 30px 15px;
    text-align: center;
    position: relative;

    .macbook { 
        padding-bottom: 30px;
        border-bottom: 2px solid #F6F7F8;
    }

    .button {
        width: 240px;
        height: 197px;
        background: white;
        opacity: .95;
        position: relative;
        z-index: 50;
    }

    .flex-vertical-center {
        justify-content: center;
    }
    
    .product-image { 
        position: relative;
        z-index: 30;
        width: 236px;
        height: 153px;
        margin-bottom: -170px;
    }
    
    &:hover .product-image {
        z-index: 10;
    }
    
    .button {
        z-index: 20;
    }
    
    button {
        border: none;
        background: white;
        opacity: .95;
    }

    .title {  
        @extend .font-semibold;
        font-size: 14px;
        margin-top: 15px;
    }

    .star {
        margin-top: 29px;
        margin-bottom: 15px;
    }

    .sticker {
        @extend .font-semibold;
        width: 40px;
        height: 20px;
        background: #FF4858;
        font-size: 12px;
        color: white;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 20;
    }
}

.star,
.price-bestseller {
    justify-content: center;
}

.price-bestseller {
    color: #FF4858;
    font-size: 16px;

    .pr:last-child {
        color: #C1C8CE; 
        margin-left: 15px;
        text-decoration: line-through;
    }
}

.load-more {
    text-align: center;
    margin-top: 88px;

    a:hover {
        color: $active-color;
        border-bottom: 2px solid #33A0FF;
    }
}

.banner-section {
    height: 600px;
    color: white;
    background: #2E90E5;
    margin-top: 110px;
    
    

    .container {
        padding-top: 131px;
        position: relative;
    }

    .banner-title {
        font-size: 66px;
    }

    .banner-text {
        font-size: 24px;
        line-height: 42px;
        margin: 53px 0;
    }

    .shop-now {
        color: white;
    }

    img {
        position: absolute;
        top: -109px;
        right: -100px;
    }

    .shop-now {
        border-bottom: 2px solid white;
    }
}

.information-container {
    grid-template-columns: repeat(3, 330px);
    margin-top: 90px;
    justify-content: space-between;

    .shipping-container,
    .refund-container,
    .suppord-container {
        justify-content: center;
        align-items: center;
    }

    .title {
        @extend .font-bold;
        font-size: 24px;
        margin: 30px 0;
    }
    .text {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}

.news-section {
    margin-top: 137px;

    .new-title {
        @extend .font-semibold;
        text-align: center;
        font-size: 30px;
    }

    .new-container {
        grid-template-columns: repeat(3, 363px);
        margin-top: 61px;
        justify-content: space-between;
    }

    .new {
        grid-template-columns: 160px auto;
    }

    .column-container {
        justify-content: center;
    }

    .date {
        @extend .font-semibold;
        color: #C1C8CE;
        font-size: 14px;
    }

    .title {
        @extend .font-bold;
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 15px;
    }

    .text {
        font-size: 14px;
        line-height: 24px;
    }
}

.featured-products-section {
    margin-top: 137px;

    .featured-products-titel {
        @extend .font-semibold;
        text-align: center;
        font-size: 30px;
    }

    .featured-products {
        grid-template-columns: repeat(3, 328px);
        margin-top: 61px;
        justify-content: space-between;
    }

    .product {
        grid-template-columns: 200px auto;
    }

    .star-featured-product {
        margin-top: 29px;
        margin-bottom: 10px;
    }

    .title {
        @extend .font-semibold;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 17px;
    }

    .price-featured-product {
        color: #FF4858;
        font-size: 16px;
    
        .pf:last-child {
            color: #C1C8CE; 
            margin-left: 15px;
            text-decoration: line-through;
        }
    }
}

form {
    width: 600px;
    margin: 141px auto;
    position: relative;
  
  input {
    width: 600px;
    height: 60px;
    padding-left: 10px;
    border: 2px solid #F6F7F8;
    border-radius: 0 5px 5px 0;
    outline: none;
  }

  button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 120px;
    height: 60px;
    border: none;
    background: #2E90E5;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}

.footer {
    border-top: 2px solid #F6F7F8;
    padding: 55px 0 44px 0;
    border-bottom: 2px solid #F6F7F8;

}

.logo-footer {
        grid-template-columns: repeat(3, 350px);
        justify-content: space-evenly;
        border-bottom: 2px solid #F6F7F8;

    .title {
        @extend .font-semibold;
        font-size: 18px;
    }

    .text {
        font-size: 12px;
        line-height: 20px;
        margin: 24px 0;

        p {
            margin: 0;
        }
    }

    img {
        margin-right: 39px;
    }

    .logo .text {
        margin-top: 17px;
    }
}

.menu-footer {
    grid-template-columns: repeat(6, 125px);
    justify-content: space-evenly;
    margin-top: 45px;

    .title {
        @extend .font-semibold;
        font-size: 18px;
        margin-bottom: 22px;
    }

    a {
        font-size: 14px;
        line-height: 32px;
    }
}

.bottom {
    padding: 32px 0;

    .flex-container{
    align-items: flex-end;
    justify-content: space-between;
    }

    .ecommerce {
        font-size: 14px;
        color: #C1C8CE;
    }

    a {
        margin-right: 20px;
    }

    a:last-child {
        margin-right: 0;
    }
}

