@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Proxima Nova Rg';
  margin: 0;
  color: #26262A;
}

a {
  text-decoration: none;
  color: #26262A;
}

.font-bold, .carousel-section .slide-title, .gadget-card .card-title, .information-container .title, .news-section .title {
  font-weight: bold;
}

.font-semibold, .nav-link, .bestseller-heading, .card-bestseller .title, .news-section .new-title, .news-section .date, .featured-products-section .featured-products-titel, .featured-products-section .title, .loso-footer .title, .menu-footer .title {
  font-weight: 600;
}

.flex-container, .column-container, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

header {
  height: 216px;
}

.top-menu {
  height: 48px;
  border-bottom: 1px solid #FAFAFB;
}

.top-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-menu .dd:first-child {
  margin-right: 20px;
}

.profile-link,
.cart-link {
  font-size: 14px;
  text-decoration: none;
  color: #26262A;
  margin-right: 41px;
}

.profile-link > img,
.cart-link > img {
  margin-right: 10px;
}

.cart-controls {
  margin-right: 58px;
}

.cart-link {
  margin-right: 0;
}

.cart-total {
  opacity: .5;
  margin-left: 10px;
  font-size: 14px;
}

.logo-and-nav-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 36px;
}

nav {
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #26262A;
}

.nav-link.active, .nav-link:hover {
  color: #33A0FF;
}

.carousel-section {
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);
}

.carousel-section .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 35px;
}

.carousel-section .slide-description {
  padding-top: 161px;
  color: white;
}

.carousel-section .slide-title {
  font-size: 36px;
}

.carousel-section .slide-text {
  margin: 40px 0;
  line-height: 22px;
  font-size: 14px;
}

.carousel-section .slide-link {
  text-decoration: none;
  border-bottom: 3px solid white;
  line-height: 22px;
  font-size: 14px;
  color: white;
}

.carousel-section .price {
  color: white;
  border-bottom: 2px solid white;
}

.top-gadgets-section {
  margin-top: -55px;
}

.top-gadgets-section .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gadget-card {
  width: 390px;
  height: 280px;
  background-color: #f6f7f8;
  color: #26262A;
  text-decoration: none;
  padding-top: 36px;
  padding-left: 30px;
  position: relative;
}

.gadget-card:first-child {
  background-color: #ff6875;
  color: white;
}

.gadget-card:first-child .card-text {
  width: 220px;
}

.gadget-card:first-child .card-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.gadget-card:first-child .price {
  opacity: .75;
}

.gadget-card:last-child {
  background-color: #c1c8ce;
}

.gadget-card:last-child .card-text {
  width: 160px;
}

.gadget-card:last-child .card-image {
  position: absolute;
  right: -15px;
  bottom: 15px;
}

.gadget-card:last-child .price {
  opacity: .75;
}

.gadget-card .card-title {
  font-size: 24px;
}

.gadget-card .card-text {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0;
}

.gadget-card .price {
  font-size: 24px;
}

.gadget-card .center-card {
  position: absolute;
  bottom: 0px;
}

.gadget-card .card-title-link {
  position: absolute;
  bottom: 30px;
}

.gadget-card .card-title-link .card-title,
.gadget-card .card-title-link .card-link {
  display: inline-block;
}

.gadget-card .card-title-link .card-title {
  margin-right: 151px;
}

.bestseller-heading {
  font-size: 30px;
}

.menu {
  width: 478px;
  margin-bottom: 26px;
}

.menu .nav-menu {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #26262A;
}

.menu .nav-menu.active {
  color: #33A0FF;
  border-bottom: 2px solid #33A0FF;
}

.menu .nav-menu:hover {
  color: #33A0FF;
}

.bestseller {
  height: 728px;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.card-bestseller {
  width: 270px;
  height: 350px;
  border: 2px solid #F6F7F8;
  padding: 30px 15px;
  text-align: center;
  position: relative;
}

.card-bestseller .macbook {
  padding-bottom: 30px;
  border-bottom: 2px solid #F6F7F8;
}

.card-bestseller .button {
  width: 240px;
  height: 197px;
  background: white;
  opacity: .95;
  position: relative;
  z-index: 50;
}

.card-bestseller .flex-vertical-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-bestseller .product-image {
  position: relative;
  z-index: 100;
  width: 236px;
  height: 153px;
  margin-bottom: -170px;
}

.card-bestseller .product-image:hover {
  z-index: 10;
}

.card-bestseller .button:hover {
  z-index: 100;
}

.card-bestseller button {
  border: none;
  background: white;
  opacity: .95;
}

.card-bestseller .title {
  font-size: 14px;
  margin-top: 15px;
}

.card-bestseller .star {
  margin-top: 29px;
  margin-bottom: 15px;
}

.star,
.price-bestseller {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-bestseller {
  color: #FF4858;
  font-size: 16px;
}

.price-bestseller .pr:last-child {
  color: #C1C8CE;
  margin-left: 15px;
  text-decoration: line-through;
}

.load-more {
  text-align: center;
  margin-top: 88px;
}

.load-more a:hover {
  color: #33A0FF;
  border-bottom: 2px solid #33A0FF;
}

.banner-section {
  height: 600px;
  color: white;
  background: #2E90E5;
  margin-top: 110px;
}

.banner-section .container {
  padding-top: 131px;
  position: relative;
}

.banner-section .banner-title {
  font-size: 66px;
}

.banner-section .banner-text {
  font-size: 24px;
  line-height: 42px;
  margin: 53px 0;
}

.banner-section .shop-now {
  color: white;
}

.banner-section img {
  position: absolute;
  top: -109px;
  right: -100px;
}

.banner-section .shop-now {
  border-bottom: 2px solid white;
}

.information-container {
  -ms-grid-columns: (330px)[3];
      grid-template-columns: repeat(3, 330px);
  margin-top: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information-container .shipping-container,
.information-container .refund-container,
.information-container .suppord-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-container .title {
  font-size: 24px;
  margin: 30px 0;
}

.information-container .text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.news-section {
  margin-top: 137px;
}

.news-section .new-title {
  text-align: center;
  font-size: 30px;
}

.news-section .new-container {
  -ms-grid-columns: (363px)[3];
      grid-template-columns: repeat(3, 363px);
  margin-top: 61px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-section .new {
  -ms-grid-columns: 160px auto;
      grid-template-columns: 160px auto;
}

.news-section .column-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-section .date {
  color: #C1C8CE;
  font-size: 14px;
}

.news-section .title {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.news-section .text {
  font-size: 14px;
  line-height: 24px;
}

.featured-products-section {
  margin-top: 137px;
}

.featured-products-section .featured-products-titel {
  text-align: center;
  font-size: 30px;
}

.featured-products-section .featured-products {
  -ms-grid-columns: (328px)[3];
      grid-template-columns: repeat(3, 328px);
  margin-top: 61px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-products-section .product {
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
}

.featured-products-section .star-featured-product {
  margin-top: 29px;
  margin-bottom: 10px;
}

.featured-products-section .title {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 17px;
}

.featured-products-section .price-featured-product {
  color: #FF4858;
  font-size: 16px;
}

.featured-products-section .price-featured-product .pf:last-child {
  color: #C1C8CE;
  margin-left: 15px;
  text-decoration: line-through;
}

form {
  width: 600px;
  margin: 141px auto;
  position: relative;
}

form input {
  width: 600px;
  height: 60px;
  padding-left: 10px;
  border: 2px solid #F6F7F8;
  border-radius: 0 5px 5px 0;
  outline: none;
}

form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 120px;
  height: 60px;
  border: none;
  background: #2E90E5;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  border-top: 2px solid #F6F7F8;
  padding: 55px 0 44px 0;
  border-bottom: 2px solid #F6F7F8;
}

.loso-footer {
  -ms-grid-columns: (350px)[3];
      grid-template-columns: repeat(3, 350px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #F6F7F8;
}

.loso-footer .title {
  font-size: 18px;
}

.loso-footer .text {
  font-size: 12px;
  line-height: 20px;
  margin: 24px 0;
}

.loso-footer .text p {
  margin: 0;
}

.loso-footer img {
  margin-right: 39px;
}

.menu-footer {
  -ms-grid-columns: (125px)[6];
      grid-template-columns: repeat(6, 125px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 45px;
}

.menu-footer .title {
  font-size: 18px;
  margin-bottom: 22px;
}

.menu-footer a {
  font-size: 14px;
  line-height: 32px;
}

.bottom {
  padding: 32px 0;
}

.bottom .flex-container, .bottom .column-container, .bottom .flex-vertical-center {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .ecommerce {
  font-size: 14px;
  color: #C1C8CE;
}

.bottom a {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */